<ul>
	<li>
		<span>African Art</span>
		<ul>
			<li><a href="/collections/african_art/beads_accessories">Beads &amp; Accessories</a></li>
			<li><a href="/collections/african_art/currencies">Currencies</a></li>
			<li><a href="/collections/african_art/dolls">Dolls</a></li>
			<li><a href="/collections/african_art/mask_head_dresses">Masks &amp; Head dresses</a></li>
			<li><a href="/collections/african_art/seats">Seats</a></li>
			<li><a href="/collections/african_art/statues">Statues</a></li>
			<li><a href="/collections/african_art/textiles">Textiles</a></li>
			<li><a href="/collections/african_art/others">Others</a></li>
		</ul>
	</li>
	<li><a href="/collections/african_art/asian_objects">Asian objects</a></li>
	<li><a href="/collections/african_art/asian_textiles_bags">Asian textiles &amp; bags</a></li>
	<li><a href="/collections/african_art/fashion_accessories">Fashion accessories</a></li>
	<li><a href="/collections/african_art/ralli_quilts">Ralli quilts</a></li>
</ul>
